# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
env/*
venv/
*.egg-info/
dist/
build/

*notepad_env/
*db.sqlite3
*.sqlite3
*.log
